:root {
    --darkBlue: #1F2937;
    --lightHeading: #F9FAF8;
    --lightGray: #E5E7EB;
    --cta: #3882F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General & Fonts Presets*/
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    color: var(--lightHeading);
    text-transform: capitalize;
}

h2 {
    font-size: 36px;
    color: var(--darkBlue);
}

h3 {
    color: var(--darkBlue);
    font-size: 26px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

p {
    color: var(--darkBlue);
    padding: 0.5em 0;
}

#hero-title p, .nav-link a, button {
    font-size: 18px;
}

button {
    padding: 0.7em 1em;
    width: 150px;
    border: none;
    border-radius:10px;
    font-weight: 600;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-left, .col-right {
    width: 100%;
}

.col-content {
    padding: 3em;
    background-color: var(--lightGray);
    border-radius: 20px;
    box-shadow: 0px 10px 10px #1f29372a;
}


/* Navbar*/
#main-header {
    background-color: var(--darkBlue);
    padding: 1em 10em;
}

.navigation {
    list-style-type: none;
    justify-content: space-between;
}

.nav-link {
    padding: 2em;
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    color: var(--lightGray);
}

.link-selector {
    width: 40px;
    height: 2px;
    border: none;
    background-color:#63D3DE;
    margin: 5% auto;
    opacity: 0;
}

.nav-link:hover .link-selector {
    opacity: 1;
    transition:  ease 0.3s;
}


/* Hero Style */
#hero {
    gap: 5em;
    padding: 5em 10em;
    background-color: var(--darkBlue);
}

#hero-title p {
    color: var(--lightGray);
}

/* Section-1 */
#section-1 {
    gap: 5em;
    padding: 5em 10em;
}

.section-img {
    width: 500px;
    margin: auto;
}

#section-1 .col-right:nth-child(2) {
    align-items: flex-start;
}

#contact-form {
    width: 500px;
    margin: auto;
    padding: 3em;
    background-color: var(--lightGray);
    border-radius: 20px;
    box-shadow: 0px 10px 10px #1f29372a;
}

#contact-form div {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}


#contact-form input,
#contact-form textarea {
    border: none;
    outline: 1px solid #b0b0b0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 5px;
}

#contact-form input:focus {
    outline: 2px solid var(--cta);
}

#contact-form input::placeholder,
textarea::placeholder {
    color: #b0b0b0;
}

#contact-form textarea {
    height: 150px;
    padding: 10px 5px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.submit-btn {
    color: var(--lightHeading);
    background-color: var(--cta);
}

.icon-container {
    list-style-type: none;
    justify-content: flex-start;
    align-items: flex-start;
}

.icon-container li {
    padding-right: 1.3em;
    font-size: 1.3em;
}

.icon-container a, .info .fa-solid {
    color: var(--cta);
}



/* Footer */ 
#main-footer {
    padding: 2em 10em;
    background-color: var(--darkBlue);
    text-align: center;
}

#main-footer p {
    color: var(--lightGray);
}